<div class="header">
    <a style="color: white; float: left; padding: 12px; line-height: 8px; font-size: 22px; font-weight: bold; font-family: 'Allura', cursive;">Give & Take for FREE</a>
    <div class="header-right">
        <a href="login.ejs"><button type="submit" class="btn btn-primary btn-sm">Login</button></a>
    </div>
</div>
<div class="header">
    <h7 style="float: left; color: white; padding-left: 12px; line-height: 18px; font-size: 14px;">A smart process to reuse things</h7>
</div>