<div class="footer">
    <a href="/privacy" style="color: white; padding: 20px;  font-size: 12px; border-right:1px solid #bbb;">Privacy</a>
    <a href="/faq" style="color: white; padding: 20px;  font-size: 12px; border-right:1px solid #bbb;">FAQs</a>
    <a href="/contact" style="color: white; padding: 20px;  font-size: 12px; ">Contact</a>
</div>
<br>