<ul class="topnav">
    <li><a href="/profile">My Profile</a></li>
    <li><a href="/get-give-something/<%=account%>">Give Something</a></li>
    <li><a href="/get-giving-history/<%=account%>">Giving History</a></li>
    <li><a href="/take">Find Something</a></li>
    <li><a href="/requestlist">Taking History</a></li>
</ul>