<ul class="topnav">
    <li><a href="/profile">My Profile</a></li>
    <li><a href="/give">Give Something</a></li>
    <li><a href="/givinghistory">Giving History</a></li>
    <li><a href="/take">Take Something</a></li>
    <li><a href="/requestlist">List of Requested Items</a></li>
</ul>