<ul class="topnav">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/category">Categories and Subcategories</a></li>
    <li><a href="/stepstofollow">Steps to follow</a></li>
</ul>