<ul class="topnav">
    <li><a href="/profile">My Profile</a></li>
    <li><a href="/get-give-something/<%=account%>">Give Something</a></li>
    <li><a href="/givinghistory">Giving History</a></li>
    <li><a href="/take">Find Something to Take</a></li>
    <li><a href="/requestlist">Interests Sent by Me</a></li>
</ul>