<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give Something - Success</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/userprofilepage.css" rel="stylesheet" type="text/css">
</head>
<body>
    
<div class="container">
    <%- include("#userprofileheader.ejs"); %>
    <%- include("#userprofilenavbar.ejs"); %>
    <br>
    <br>
    <h6 class="col text-center">Success!</h6>
    <p class="col text-center">A new pickup request #<%=pickupRequestNumber%> is created successfully. To View/Edit/Delete the pickup request, Please check "Giving History" tab.</p>
    
    <%- include("#userprofilefooter.ejs"); %>
</div>
      
</body>
</html>