<!DOCTYPE html>
<html lang="en">
<head>
  <title>Categories and Subcategories</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/css/homepage.css" rel="stylesheet" type="text/css">  
</head>
<body>

<div class="container">
  <%- include("#homeheader.ejs"); %>
  <%- include("#homenavbar.ejs"); %>
  <br>
  <p style="font-size: 13px;">Any household item that you are not going to use again, you can donate to others using this web application. It is very important for givers to select the right category and subcategory of the item while raising pickup request so that takers can search their required item efficiently. Givers will be able to see below categories and subcategories in the dropdown while raising the pickup request. If any item does not fit in the first 9 categories, then givers can select the 10th category which is "Others".</p>
  <br>
  <p style="color: rgb(54, 54, 165);">1. <strong>Electronics</strong> - Mobile, Laptop, TV, Camera, Others</p>
  <p style="color: rgb(54, 54, 165);">2. <strong>Babies stuffs</strong> - Dress, Toys, Others</p>
  <p style="color: rgb(54, 54, 165);">3. <strong>Furnitures</strong> - Table, Chair, Sofa, Others</p>
  <p style="color: rgb(54, 54, 165);">4. <strong>Clothes and Shoes</strong> - Mens and Womens Clothes, Shoes, Others</p>
  <p style="color: rgb(54, 54, 165);">5. <strong>Vehicles</strong> - Cycle, Bike and Others</p>
  <p style="color: rgb(54, 54, 165);">6. <strong>Books</strong> - For Students, Novels, Others</p>
  <p style="color: rgb(54, 54, 165);">7. <strong>Sports Equipments</strong> - Bat, Ball, football, Others</p>
  <p style="color: rgb(54, 54, 165);">8. <strong>Tickets & Gift cards</strong> - Movies, Shows, Travel, Others</p>
  <p style="color: rgb(54, 54, 165);">9. <strong>Food & Medicines</strong> - Packaged food, Others</p>
  <p style="color: rgb(54, 54, 165);">10. <strong>Others</strong> - Others</p>
  
  <%- include("#homefooter.ejs"); %>
</div>

</body>
</html>