<!DOCTYPE html>
<html lang="en">
<head>
  <title>Give and Take for Free</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/css/homepage.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
  <%- include("#homeheader.ejs"); %>
  <%- include("#homenavbar.ejs"); %>
  <br> 
  <div class="row d-flex justify-content-center h-100">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <h4 style="color: rgb(54, 54, 165); font-family: 'Allura', cursive; font-family: 'Poppins', sans-serif; font-family: 'Yellowtail', cursive;">"It is important to reuse our resources. If you don't reuse and recycle things, then you may run out of them"</h4>
    </div>
    <div class="col-md-8 col-lg-7 col-xl-6">
      <img src="../images/reuse.jpg" class="img-fluid">
    </div>
  </div>
  <br>
  <p style="color: rgb(54, 54, 165);">The idea is if you don't use something, please be a giver and share your things to others using this web application instead of throwing it to the trash. If you need something, you are also at right place. Please use this web application to check if the required item is avaible.</p>
  <br>
  <div class="row d-flex justify-content-center h-100">
    <div class="col-md-8 col-lg-7 col-xl-4">
      <img src="../images/giveandtake.png" class="img-fluid">
    </div>
  </div>
  
  <br><br><br><br><br><br><br><br><br><br>
  <%- include("#homefooter.ejs"); %>
</div>

</body>
</html>