<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give Something</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/userprofilepage.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
var statesByCountry = {
India: ["","Andaman and Nicobar Islands","Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chandigarh","Chhattisgarh","Dadra and Nagar Haveli","Daman and Diu",
"Delhi","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Ladakh","Lakshadweep","Madhya Pradesh","Maharashtra","Manipur",
"Meghalaya","Mizoram","Nagaland","Odisha","Puducherry","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal"],
"United States": ["","Alabama","Alaska","American Samoa","Arizona","Arkansas","Baker Island","California","Colorado","Connecticut","Delaware","District of Columbia",
"Florida","Georgia","Guam","Hawaii","Howland Island","Idaho","Illinois","Indiana","Iowa","Jarvis Island","Johnston Atoll","Kansas","Kentucky","Kingman Reef",
"Louisiana","Maine","Maryland","Massachusetts","Michigan","Midway Atoll","Minnesota","Mississippi","Missouri","Montana","Navassa Island","Nebraska","Nevada",
"New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Northern Mariana Islands","Ohio","Oklahoma","Oregon","Palmyra Atoll",
"Pennsylvania","Puerto Rico","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","United States Minor Outlying Islands","United States Virgin Islands",
"Utah","Vermont","Virginia","Wake Island","Washington","West Virginia","Wisconsin","Wyoming"]
}

function makeSubmenu(value) {
if(value.length==0) 
    document.getElementById("stateSelect").innerHTML = "<option></option>";
else {
    var statesOptions = "";
    for(stateId in statesByCountry[value]) {
        statesOptions+="<option>"+statesByCountry[value][stateId]+"</option>";
        }
    document.getElementById("stateSelect").innerHTML = statesOptions;
    }
}

var subcategoryByCategory = {
"Electronics": ["","Mobile","Laptop","TV","Camera","Others"],
"Babies Stuffs": ["","Dress","Toys","Others"],
"Furnitures": ["","Table","Chair","Sofa","Others"],
"Clothes and Shoes": ["","Mens Clothes","Womens Clothes", "Shoes","Others"],
"Vehicles": ["","Cycle","Bike","Others"],
"Books": ["","For Students","Novels","Others"],
"Sports Equipments": ["","Bat","Ball","football","Others"],
"Tickets and Giftcards": ["","Movies","Shows","Travel","Others"],
"Food and Medicines": ["","Packaged food","Others"],
"Others": ["","Others"]
}

function categorySubmenu(value) {
if(value.length==0) 
    document.getElementById("subcategorySelect").innerHTML = "<option></option>";
else {
    var subcategoryOptions = "";
    for(subcategoryId in subcategoryByCategory[value]) {
        subcategoryOptions+="<option>"+subcategoryByCategory[value][subcategoryId]+"</option>";
        }
    document.getElementById("subcategorySelect").innerHTML = subcategoryOptions;
    }
}
</script>
</head>

<body>

<div class="container">
    <%- include("#userprofileheader.ejs"); %>
    <%- include("#userprofilenavbar.ejs"); %>
    <br>    
    <div class="row">
        <div class="col-10 mx-auto">
            <br>
            <h6>Please fill the category and sub-category of your item you want to donate.</h6>
            <br>
            <form method="POST" id="postgivesomething" enctype="multipart/form-data">      
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Category</label>
                        <select id="categorySelect" class="form-control" name="category" onchange="categorySubmenu(this.value)" required>
                            <option selected></option>
                            <option>Electronics</option>
                            <option>Babies Stuffs</option>
                            <option>Furnitures</option>
                            <option>Clothes and Shoes</option>
                            <option>Vehicles</option>
                            <option>Books</option>
                            <option>Sports Equipments</option>
                            <option>Tickets and Giftcards</option>
                            <option>Food and Medicines</option>
                            <option>Others</option>       
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Sub-category</label>
                        <select id="subcategorySelect" class="form-control" name="subcategory" required>
                            <option selected></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Item Name</label>
                    <input type="text" class="form-control" id="itemname" name="itemname" placeholder="Please enter item name and a short description" required>
                </div>

                <br>
                <h6>Please enter the pickup address correctly.</h6>
                <br>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Country</label>
                        <select id="countrySelect" class="form-control" name="country" onchange="makeSubmenu(this.value)" required>
                            <option selected></option>
                            <option>India</option>
                            <option>United States</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>State</label>
                        <select id="stateSelect" class="form-control" name="state" required>
                            <option selected></option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>City</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="Please Enter City" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>PIN or ZIP</label>
                        <input type="text" class="form-control" id="pin" name="pin" maxlength="10" placeholder="Please Enter PIN or ZIP" required>
                    </div>
                </div>
    
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Please Enter House Number/Street Name/Area/Locality" required>
                </div>

                <br>
                <h6>Please enter the contact information correctly.</h6>
                <br>

                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" maxlength="10" placeholder="Please Enter Phone Number" required>
                </div>

                <br>
                <h6>Do you want to upload a photo of the drywaste?
                <br>
                <br>

                <div class="form-group">
                    <label style="font-weight: normal;">
                        <input type="radio" id="radio_button_no" value="no" name="radiobutton" onclick="javascript:myFunction();" checked/>
                        No &nbsp;
                        <input type="radio" id="radio_button_yes" value="yes" name="radiobutton" onclick="javascript:myFunction();" />
                        Yes
                    </label>
                </div>

                <div id="div_image" style="display: none;">
                    <div class="form-group">
                        <label>Upload Image [Only .jpeg, .jpg, .png, .gif, .webp files are allowed]</label>
                        <input type="file" id="uploaded_image" name="uploaded_image" class="form-control" onchange="return fileValidation()">
                    </div>
                </div>
                

                <button type="submit" class="btn btn-primary btn-sm" onClick="return showAlert()">Ready to Donate</button>
            </form>
        </div>
    </div>
    <br>
    <%- include("#userprofilefooter.ejs"); %>
</div>

<script>
    function myFunction() {
        var yes = document.getElementById("radio_button_yes");
        var div_image = document.getElementById("div_image");
        if (yes.checked === true) {
            div_image.style.display = "block";
        } else {
            div_image.style.display = "none";
        }
    }
</script>

<script>
    function fileValidation() {
        var fileInput =
            document.getElementById('uploaded_image');
         
        var filePath = fileInput.value;
     
        // Allowing file type
        var allowedExtensions =
                /(\.jpg|\.jpeg|\.png|\.gif|\.webp)$/i;
         
       if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
    }
</script>

<script type="text/javascript">
    function showAlert() {
        var fileInput =
            document.getElementById('uploaded_image');
        var fileLength = fileInput.files.length
        
        if (fileLength == 0 && document.getElementById("radio_button_yes").checked == true) {
            //Radio Button is "Yes", but no file is attached. So, reassiging the radio button value to "No"
            document.getElementById("radio_button_yes").value = "no"
            alert('No photo is attached. Pickup request will be submitted without photo')
        }

        var mobile_number = document.getElementById("phone").value;
        if (isNaN(mobile_number))
        {
            alert("Phone number is not Numeric, please enter correctly!");
            return false;
        }
    }
</script>

</body>
</html>